.wrapper-login label {
    font-weight: 500;
  }
  .link-box a {
    text-decoration: none;
   
    font-weight: 500;
  }
  .link-box a:hover {
    text-decoration: underline;
  }
  .wrapper-login .v-text-field--filled > .v-input__control > .v-input__slot,
  .v-text-field--full-width > .v-input__control > .v-input__slot,
  .v-text-field--outlined > .v-input__control > .v-input__slot {
    align-items: stretch;
    min-height: 41px;
  }


/* 
.v-card {
    &.course-card {
        position: relative;
    }
}
.v-btn {
    &.add-btn {
        position: absolute;
        z-index: 2;
        right: 230px;
    }
} */

.page-header  button.v-btn.v-theme--light.v-btn--density-default.v-btn--size-default.v-btn--variant-text span.v-btn__content {
  background:#008cff;
  padding:5px;
}